<% const capitalizedEntity = entity.charAt(0).toUpperCase() + entity.slice(1) %>


<section class="<%= entity %>-inputs">
    <section>
      <label for="<%= entity %>-name">Name: <%- include("required-symbol") %></label>
      <input
        type="text"
        name="name"
        placeholder="<%= capitalizedEntity %> name"
        id="<%= entity %>-name"
        autocomplete="off"
        value="<%= locals.formData && formData.name %>"
        required
        form=<%= locals.form || "" %>
      />
      <%- include("error", { errors: locals.errors, fieldName: 'name' }) %>
    </section>
    
    <section>
      <label for="<%= entity %>-description">Description:</label>
      <textarea
        name="description"
        id="<%= entity %>-description"
        placeholder="<%= capitalizedEntity %> description"
        rows="6"
        form=<%= locals.form || "" %>
      ><%= locals.formData && formData.description %></textarea
      >
      <%- include("error", { errors: locals.errors, fieldName: 'description' }) %>
    </section>
    
    <section>
      <label for="logo-image">Image: <%- include("required-symbol") %></label>
      <input 
      type="file" 
      name="<%= entity %>-image"
      id="<%= entity %>-image"
      class="logo-image"
      accept="image/*" 
      data-type="<%= entity %>"
      <%= locals.isAdd && "required" %>
      form=<%= locals.form || "" %>
      />
      <img src="<%= locals.formData && formData.logo_image_url %>" alt="<%= locals.formData && formData.name %> logo" class="<%= entity %>-preview">
      <%- include("error", { errors: locals.errors, fieldName: 'file' }) %>
    </section>  
  </section>
  
  