<% const capitalizedEntity = entity.charAt(0).toUpperCase() + entity.slice(1) %>


<section class="<%= entity %>-inputs">
    <section>
      <label for="<%= entity %>-name">Name: <%- include("required-symbol") %></label>
      <input
        type="text"
        name="name"
        placeholder="<%= capitalizedEntity %> name"
        id="<%= entity %>-name"
        autocomplete="off"
        value="<%= locals.formData && formData.name %>"
        required
        form=<%= locals.form || "" %>
      />
      <%- include("error", { errors: locals.errors, fieldName: 'name' }) %>
    </section>
    
    <section>
      <label for="<%= entity %>-description">Description:</label>
      <textarea
        name="description"
        id="<%= entity %>-description"
        placeholder="<%= capitalizedEntity %> description"
        rows="6"
        form=<%= locals.form || "" %>
      ><%= locals.formData && formData.description %></textarea
      >
      <%- include("error", { errors: locals.errors, fieldName: 'description' }) %>
    </section>
    
    <% if(locals.formData && formData.logo_image_url) { %>
      <section>
        <label for="previous-image">Current Image:</label>
        <img id="previous-image" alt="logo" src="<%= formData.logo_image_url %>" >
      </section>
    <% } else if(locals.formData && formData.icon_url) { %>
      <section>
        <label for="previous-image">Current Image:</label>
        <img id="previous-image" alt="logo" src="<%= formData.icon_url %>" >
      </section>
    <% } %>  
    
    <section>
      <% if(locals.formData && (formData.logo_image_url || formData.icon_url)) { %>
        <label for="logo-image">New Image: </label>
      <% } else { %>
        <label for="logo-image">Image: <%- include("required-symbol") %></label>
      <% } %>  
          
      <input 
      type="file" 
      name="<%= entity %>-image"
      id="<%= entity %>-image"
      class="logo-image"
      accept="image/*" 
      data-type="<%= entity %>"
      <%= locals.isAdd && "required" %>
      form=<%= locals.form || "" %>
      />
      <section class="<%= entity %>-preview-wrapper"></section>
      <%- include("error", { errors: locals.errors, fieldName: 'file' }) %>
    </section>  
  </section>
  
  