<header>
  <h1>Games Inventory</h1>
  <a href="/games" class="<%= activeEntity.includes('game') ? 'active' : '' %>"
    >Games</a
  >
  <a
    href="/publishers"
    class="<%= activeEntity.includes('publisher') ? 'active' : '' %>"
    >Publishers</a
  >
  <a href="/studios" class="<%= activeEntity.includes('studio') ? 'active' : '' %>"
    >Studios</a
  >

  <% if (locals.addButtonText) { %>
    <a href="/<%= activeEntity %>/add" class="add-button">
      <img
        src="/assets/images/icons/add.svg"
        alt="<%= addButtonText %>"
        title="<%= addButtonText %>"
      />
      <%= addButtonText %>
    </a>
  <% } %>
</header>
