<% const capitalizedEntity = entity.charAt(0).toUpperCase() + entity.slice(1) %>
<% const formId = "update-" + entity %>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Update <%= capitalizedEntity %></title>
  </head>
  <body>
      <%- include("partials/entity-inputs", { errors: locals.errors, formData: locals.formData, form: formId, entity, capitalizedEntity}) %>
      <button type="button" onclick="updateEntity('<%= entity %>', <%= id %>, '<%= fetchUrl %>', '<%= redirect %>')" form="<%= formId %>">Update <%= capitalizedEntity %></button>
  </body>
</html>
