<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    
    <title><%= studio.name %></title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "studios" }) %>

    <%- include("../partials/searchbar", {entityType: 'Studios', entity: studio, search: locals.query && query.search || ""  }) %>

    <img src="<%= studio.logo_image_url %>" alt="<%= studio.name %> logo">
    
    <h1><%= studio.name %></h1>
    <p><%= studio.description %></p>

    <button type="button" onClick="showDeleteModal('studio', <%= studio.id %>, '/studios/delete', '/studios')">
      Delete Studio
    </button>
    
    <% if(games.length) { %>
      <h2>Games by <%= studio.name %></h2>
      <section class="card-wrapper">
        <% games.forEach((game)=> {%> <%- include("../games/game-card", {game}) %> <%})%>
      </section>
    <% } else { %>
      <p>No games associated with this studio</p>
    <% } %>

    <%- include("../partials/page-selector", { ...page, query}) %>
    <%- include("../partials/delete-modal") %>
  </body>
</html>
