<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Studios</title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "studios", addButtonText: "Add Studio"  }) %>

    <%- include("../partials/searchbar", {entityType: 'Studios', }) %>

    <% if(studios.length) { %>
      <section class="card-wrapper studios">
        <% studios.forEach((studio)=> {%> 
          <a class="card-anchor" href="/studios/<%= studio.id %>">
            <article class="card">
              <section class="cover-wrapper">
                <img
                  src="<%= studio.logo_image_url %>"
                  alt="<%= studio.name %> logo"
                  class="cover"
                />
              </section>
              <section class="card-data">   
                <p class="name"><%= studio.name %></p>
              </section>
            </article>
          </a>
        <%})%>
      </section>
    <% } else { %>
      <p>No studios found</p>
    <% } %>

    <%- include("../partials/page-selector", { ...page}) %>
    
  </body>
</html>
