<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Add Game</title>
  </head>
  <body>
    <form id="add-genre" onsubmit="addEntity('genre', '/genres/add'); return false;"></form>
    <form id="add-studio" onsubmit="addEntity('studio', '/studios/add'); return false;"></form>
    <form id="add-publisher" onsubmit="addEntity('publisher', '/publishers/add'); return false;"></form>
    <form id="add-game" action="/games/add" method="post" enctype="multipart/form-data">
      <section>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required/>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'title' }) %>
      </section>

      <section>
        <label for="cover-image">Cover image</label>
        <input type="file" accept="image/*" id="cover-image" name="cover" required/>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'cover' }) %>
      </section>

      <section>
        <label for="banner-image">Banner image</label>
        <input type="file" accept="image/*" id="banner-image" name="banner"/>
      </section>

      <section>
        <label for="release-date">Release date</label>
        <input type="date" id="release-date" name="release" required/>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'release' }) %>
      </section>

      <section>
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="4" required></textarea>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'description' }) %>
      </section>

      <section>
        <label for="website">Website</label>
        <input type="url" id="website" name="website" />
      </section>

      <section>
        <label for="goty">Did this game win Game of The Year Award?</label>
        <input type="checkbox" name="goty" id="goty" />
      </section>

      <fieldset>
        <legend>Plaforms</legend>

        <% platforms.forEach(platform => { %>
          <label>
            <input type="checkbox" name="platforms" value=<%= platform.id %> required onClick="validateAtLeastOneChecked('platforms')"/> <%= platform.name %>
          </label>
        <% }) %>

        <%- include("../partials/error", { errors: locals.errors, fieldName: 'platforms' }) %>
      </fieldset>

      <fieldset>
        <legend>PEGI Rating</legend>

        <% pegiRatings.forEach(rating => { %>
          <label>
            <input type="radio" name="pegi" value=<%= rating.id %> /> <%= rating.rating %>
          </label>
        <% }) %>
      </fieldset>

      <fieldset>
        <legend>ESRB Rating</legend>


        <% esrbRatings.forEach(rating => { %>
          <label>
            <input type="radio" name="esrb" value=<%= rating.id %> /> <%= rating.rating %>
          </label>
        <% }) %>

      </fieldset>

      <fieldset>
        <legend>Critic Scores</legend>
        <label for="ign">IGN Score (0-10):</label>
        <input
          type="number"
          id="ign"
          name="ign"
          min="0"
          max="10"
          step="0.1"
          placeholder="IGN Score"
        />
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'ign' }) %>

        <label for="opencritic">OpenCritic Score (0-100):</label>
        <input
          type="number"
          id="opencritic"
          name="opencritic"
          min="0"
          max="100"
          step="1"
          placeholder="OpenCritic Score"
        />
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'opencritic' }) %>

        <label for="metacritic">Metacritic Score (0-100):</label>
        <input
          type="number"
          id="metacritic"
          name="metacritic"
          min="0"
          max="100"
          step="1"
          placeholder="Metacritic Score"
        />
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'metacritic' }) %>
      </fieldset>

      <fieldset>
        <legend>Genre(s)</legend>
        <section class="genre-wrapper">
          <% genres.forEach(genre => { %>
            <label>
              <input type="checkbox" name="genre" value=<%= genre.id %> required onClick="validateAtLeastOneChecked('genre')"/> <%= genre.name %>
            </label>
          <% }) %>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'genre' }) %>
        </section>

        <section><p>Don't see the genre?</p> <button type="button" onclick="toggleForm('genre-form')">Add Genre</button></section>
      <section class="toggle-form" id="genre-form">
        <%- include("../partials/entity-inputs", { isAdd: true, form: "add-genre", entity: "genre"}) %>
        <button type="submit" form="add-genre">Add</button>
       </section>
      </fieldset>

      <fieldset>
        <legend>Studio(s)</legend>
        <section class="studio-wrapper">
          <% studios.forEach(studio => { %>
            <label>
              <input type="checkbox" name="studio" value=<%= studio.id %> required onClick="validateAtLeastOneChecked('studio')"/> <%= studio.name %>
            </label>
          <% }) %>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'studio' }) %>
        </section>

        <section><p>Don't see the studio?</p> <button type="button" onclick="toggleForm('studio-form')">Add Studio</button></section>
      <section class="toggle-form" id="studio-form">
        <%- include("../partials/entity-inputs", { isAdd: true, form: "add-studio", entity: "studio" }) %>
        <button type="submit" form="add-studio">Add</button>
       </section>
      </fieldset>

      <fieldset>
        <legend>Publisher(s)</legend>
        <section class="publisher-wrapper">
          <% publishers.forEach(publisher => { %>
            <label>
              <input type="checkbox" name="publisher" value=<%= publisher.id %> required onClick="validateAtLeastOneChecked('publisher')"/> <%= publisher.name %>
            </label>
          <% }) %>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'publisher' }) %>
        </section>

        <section><p>Don't see the publisher?</p> <button type="button" onclick="toggleForm('publisher-form')">Add Publisher</button></section>
      <section class="toggle-form" id="publisher-form">
        <%- include("../partials/entity-inputs", { isAdd: true, form: "add-publisher", entity: "publisher" }) %>
        <button type="submit" form="add-publisher">Add</button>
       </section>
      </fieldset>

      <!-- [MULTIPLE IMAGE INPUT GOES HERE] -->

      <button type="submit" form="add-game">Add Game</button>

    </form>
  </body>
</html>
