<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Add Game</title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "games" }) %>

    <form id="add-genre" onsubmit="addEntity('genre', '/genres/add'); return false;"></form>
    <form id="add-studio" onsubmit="addEntity('studio', '/studios/add'); return false;"></form>
    <form id="add-publisher" onsubmit="addEntity('publisher', '/publishers/add'); return false;"></form>
    <form id="add-game" action="/games/add" method="post" enctype="multipart/form-data">
      <section>
        <label for="title">Title: <%- include("../partials/required-symbol") %></label>
        <input type="text" id="title" name="title" value="<%= locals.formData && formData.title %>" onInput="removeWarning('title')" required/>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'title' }) %>
      </section>

      <section>
        <label for="cover-image">Cover image: <%- include("../partials/required-symbol") %></label>
        <input type="file" accept="image/*" id="cover-image" class="cover-image" name="cover" required data-type="cover" onInput="removeWarning('cover')"/>
        <section class="cover-preview-wrapper"></section>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'cover' }) %>
      </section>

      <section>
        <label for="banner-image">Banner image</label>
        <input type="file" accept="image/*" id="banner-image" class="banner-image" name="banner" data-type="banner"/>
        <section class="banner-preview-wrapper"></section>
      </section>

      <fieldset>
        <legend>Gallery</legend>
        <p class="gallery-max-warning hidden">Up to 8 images allowed in gallery</p>

        <section class="gallery-images">
          <label for="gallery-images">Images</label>
          <section class="images-wrapper"></section>
          <input type="file" accept="image/*" id="gallery-images" class="gallery-images" name="gallery-images" onInput="removeWarning('gallery')" multiple/>
        </section>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'gallery' }) %>

        <section class="gallery-videos">
          <label for="gallery-videos">YouTube Videos</label>
          <section class="videos-wrapper"></section>
          <input type="text" id="gallery-videos" class="gallery-videos" />
          <button type="button" class="add-video">Add Video</button>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'videos' }) %>
          <p class="gallery-video-warning hidden">Only YouTube videos allowed!</p>
          <input type="text" id="hidden-videos-input" name="videos" value="<%= locals.formData && locals.formData.videos || '[]'  %>">
        </section>
       </fieldset>

      <section>
        <label for="release-date">Release date: <%- include("../partials/required-symbol") %></label>
        <input type="date" id="release-date" name="release" value="<%= locals.formData && formData.release %>" onInput="removeWarning('release')" required/>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'release' }) %>
      </section>

      <section>
        <label for="description">Description: <%- include("../partials/required-symbol") %></label>
        <textarea name="description" id="description" rows="4" onInput="removeWarning('description')" required><%= locals.formData && formData.description %></textarea>
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'description' }) %>
      </section>

      <section>
        <label for="website">Website</label>
        <input type="url" id="website" name="website" value="<%= locals.formData && formData.website %>" />
      </section>

      <section>
        <label for="goty">Did this game win Game of The Year Award?</label>
        <input type="checkbox" name="goty" id="goty" <%= locals.formData && locals.formData.goty ? 'checked' : '' %>/>
      </section>

      <fieldset>
        <legend>Plaforms: <%- include("../partials/required-symbol") %></legend>

        <% platforms.forEach(platform => { %>
          <label>
            <input type="checkbox" name="platforms" value=<%= platform.id %> required onClick="validateAtLeastOneChecked('platforms')"
              onInput="removeWarning('platforms')" 
              <%= locals.formData && (Array.isArray(locals.formData.platforms) 
              ? locals.formData.platforms.includes(String(platform.id)) 
              : locals.formData.platforms == platform.id) 
              ? "checked" : "" %>

            />
            <%= platform.name %>
          </label>
        <% }) %>

        <%- include("../partials/error", { errors: locals.errors, fieldName: 'platforms' }) %>
      </fieldset>

      <fieldset>
        <legend>PEGI Rating</legend>

        <% pegiRatings.forEach(rating => { %>
          <label>
            <input type="radio" name="pegi" value=<%= rating.id %> <%= locals.formData && locals.formData.pegi == rating.id ? 'checked' : '' %> />
            <%= rating.rating %>
          </label>
        <% }) %>
      </fieldset>

      <fieldset>
        <legend>ESRB Rating</legend>


        <% esrbRatings.forEach(rating => { %>
          <label>
            <input type="radio" name="esrb" value=<%= rating.id %> <%= locals.formData && locals.formData.esrb == rating.id ? 'checked' : '' %> />
            <%= rating.rating %>
          </label>
        <% }) %>

      </fieldset>

      <fieldset>
        <legend>Critic Scores</legend>
        <label for="ign">IGN Score (0-10):</label>
        <input
          type="number"
          id="ign"
          name="ign"
          min="0"
          max="10"
          step="0.1"
          placeholder="IGN Score"
          value="<%= locals.formData && formData.ign_rating || '' %>"
          onInput="removeWarning('ign')"
        />
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'ign' }) %>

        <label for="opencritic">OpenCritic Score (0-100):</label>
        <input
          type="number"
          id="opencritic"
          name="opencritic"
          min="0"
          max="100"
          step="1"
          placeholder="OpenCritic Score"
          value="<%= locals.formData && formData.opencritic_rating || '' %>"
          onInput="removeWarning('opencritic')"
        />
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'opencritic' }) %>

        <label for="metacritic">Metacritic Score (0-100):</label>
        <input
          type="number"
          id="metacritic"
          name="metacritic"
          min="0"
          max="100"
          step="1"
          placeholder="Metacritic Score"
          value="<%= locals.formData && formData.metacritic_rating || '' %>"
          onInput="removeWarning('metacritic')"
        />
        <%- include("../partials/error", { errors: locals.errors, fieldName: 'metacritic' }) %>
      </fieldset>

      <fieldset>
        <legend>Genre(s): <%- include("../partials/required-symbol") %></legend>
        <section class="genre-wrapper">
          <% genres.forEach(genre => { %>
            <label>
              <input type="checkbox" name="genre" value=<%= genre.id %> required onClick="validateAtLeastOneChecked('genre')"
                onInput="removeWarning('genre')"
                <%= locals.formData && (Array.isArray(locals.formData.genre) 
                ? locals.formData.genre.includes(String(genre.id)) 
                : locals.formData.genre == genre.id) 
                ? "checked" : "" %>
              />
              <%= genre.name %>
            </label>
          <% }) %>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'genre' }) %>
        </section>

        <section><p>Don't see the genre?</p> <button type="button" onclick="toggleForm('genre-form')">Add Genre</button></section>
      <section class="toggle-form" id="genre-form">
        <%- include("../partials/entity-inputs", { isAdd: true, form: "add-genre", entity: "genre"}) %>
        <button type="submit" form="add-genre">Add</button>
       </section>
      </fieldset>

      <fieldset>
        <legend>Studio(s): <%- include("../partials/required-symbol") %></legend>
        <section class="studio-wrapper">
          <% studios.forEach(studio => { %>
            <label>
              <input type="checkbox" name="studio" value=<%= studio.id %> required onClick="validateAtLeastOneChecked('studio')"
                onInput="removeWarning('studio')"
                <%= locals.formData && (Array.isArray(locals.formData.studio) 
                ? locals.formData.studio.includes(String(studio.id)) 
                : locals.formData.studio == studio.id) 
                ? "checked" : "" %>
              />
              <%= studio.name %>
            </label>
          <% }) %>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'studio' }) %>
        </section>

        <section><p>Don't see the studio?</p> <button type="button" onclick="toggleForm('studio-form')">Add Studio</button></section>
      <section class="toggle-form" id="studio-form">
        <%- include("../partials/entity-inputs", { isAdd: true, form: "add-studio", entity: "studio" }) %>
        <button type="submit" form="add-studio">Add</button>
       </section>
      </fieldset>

      <fieldset>
        <legend>Publisher(s): <%- include("../partials/required-symbol") %></legend>
        <section class="publisher-wrapper">
          <% publishers.forEach(publisher => { %>
            <label>
              <input type="checkbox" name="publisher" value=<%= publisher.id %> required onClick="validateAtLeastOneChecked('publisher')"
                onInput="removeWarning('publisher')"
                <%= locals.formData && (Array.isArray(locals.formData.publisher) 
                ? locals.formData.publisher.includes(String(publisher.id)) 
                : locals.formData.publisher == publisher.id) 
                ? "checked" : "" %>
              />
              <%= publisher.name %>
            </label>
          <% }) %>
          <%- include("../partials/error", { errors: locals.errors, fieldName: 'publisher' }) %>
        </section>

        <section><p>Don't see the publisher?</p> <button type="button" onclick="toggleForm('publisher-form')">Add Publisher</button></section>
      <section class="toggle-form" id="publisher-form">
        <%- include("../partials/entity-inputs", { isAdd: true, form: "add-publisher", entity: "publisher" }) %>
        <button type="submit" form="add-publisher">Add</button>
       </section>
      </fieldset>

      <button type="submit" form="add-game">Add Game</button>

    </form>
  </body>
</html>
