<% const getThumbnail = url => `https://img.youtube.com/vi/${url.match(/embed\/([a-zA-Z0-9_-]{11})/)[1]}/hqdefault.jpg`; %>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <title><%= game.title %></title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "games" }) %>

    <%- include("../partials/searchbar", {entityType: 'Games', }) %>

    <article>
      <% if(game.banner_image_url) { %>
      <img src="<%= game.banner_image_url %>" alt="<%= game.title %> banner" />
      <% } %>

      <h1><%= game.title %></h1>

      <button type="button" onClick="showDeleteModal('game', <%= game.videogame_id %>, '/games/delete', '/games')">Delete</button>
      <a href="/games/update/<%= game.videogame_id %>">Update</a>

      <% if(game.images.length || game.videos.length) { %>
        <section class="gallery-wrapper">
          <section class="selected-image-container">
            <% if(game.videos.length) { %>
              <iframe src="<%= game.videos[0] %>" type="text/html" frameborder="0" allowfullscreen></iframe>
            <% } else { %>
              <img src="<%= game.images[0] %>" alt="<%= game.title %> image"/>
            <% } %>
          </section>

          <section class="gallery-previews">
          <% game.videos.forEach((videoUrl, index) =>  { %>
            <section class="preview-wrapper">
              <img src="<%= getThumbnail(videoUrl) %>" class="gallery-preview <%= index === 0 ? 'selected' : '' %>" alt="<%= game.title %> video" onClick="showSelected(event, '<%= videoUrl %>', true)"  />
              <img src="/assets/images/icons/video.png" alt="video icon" class="video-icon">
            </section>
          <% })%>

          <% game.images.forEach((imageUrl, index) =>  { %>
            <img src="<%= imageUrl %>" alt="<%= game.title %> image" class="gallery-preview <%= (index === 0 && game.videos.length === 0) ? 'selected' : '' %>" onClick="showSelected(event, '<%= imageUrl %>')" />
          <% })%>
        </section>

        </section>
      <% } %>

      <h2>Description</h2>
      <p><%= game.description %></p>

      <p>Videogame ID: <%= game.videogame_id %></p>

      <p>Release Date: <%= game.release_date %></p>

      <% if (game.website) { %>
      <p>
        Website:
        <a href="<%= game.website %>" target="_blank"><%= game.website %></a>
      </p>
      <% } %>

      <p>Added At: <%= game.added_at %></p>

      <% if (game.metacritic_rating !== null) { %>
      <p>Metacritic Rating: <%= Math.floor(game.metacritic_rating) %></p>
      <% } %>
    
      <% if (game.opencritic_rating !== null) { %>
      <p>OpenCritic Rating: <%= Math.floor(game.opencritic_rating) %></p>
      <% } %>
      
      <% if (game.ign_rating !== null) { %>
      <p>IGN Rating: <%= game.ign_rating %></p>
      <% } %>

      <p>Game of the Year: <%= game.goty ? 'true' : 'false' %></p>

      <% if (game.esrb_rating !== null) { %>
      <p>ESRB Rating: <%= game.esrb_rating %></p>
      <% } %>
      
      <% if (game.esrb_description !== null) { %>
      <p>ESRB Description: <%= game.esrb_description %></p>
      <% } %>
      
      <% if (game.pegi_rating !== null) { %>
      <p>PEGI Rating: <%= game.pegi_rating %></p>
      <% } %> 
      
      <% if (game.pegi_description !== null) { %>
      <p>PEGI Description: <%= game.pegi_description %></p>
      <% } %>

      <p>Genres:</p>
      <ul>
        <% game.genres.forEach(function(genre) { %>
        <li><%= genre %></li>
        <% }); %>
      </ul>

      <p>Platforms:</p>
      <ul>
        <% game.platforms.forEach(function(platform) { %>
        <li><%= platform %></li>
        <% }); %>
      </ul>

      <p>Publishers:</p>
      <ul>
        <% game.publishers.forEach(function(publisher) { %>
        <li><%= publisher %></li>
        <% }); %>
      </ul>

      <p>Studios:</p>
      <ul>
        <% game.studios.forEach(function(studio) { %>
        <li><%= studio %></li>
        <% }); %>
      </ul>
    </article>


    <%- include("../partials/delete-modal") %>
  </body>
</html>
