<% const getGeneralPlatformLogo = (platform) =>  {
  const lowerCasePlatform = platform.toLowerCase()
  return lowerCasePlatform.includes("playstation") ? "playstation" : lowerCasePlatform.includes("nintendo") ? "nintendo" : lowerCasePlatform.includes("xbox") ? "xbox" : "windows"
  }  
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Games</title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "games", addButtonText:"Add Game" }) %>

    <section class="outer-container">
      <aside>
        <section class="genre-selector">
          <h3>Genres</h3>
          <a href="/games?genre=all&platform=<%= locals.currentPlatform || 'all' %>&sort=<%= locals.sort || 'none' %>">
            <section class="genre-bubble <%= locals.currentGenre == 'all' ? 'active' : '' %>">
              <img src="/assets/images/icons/all.svg" alt="All genres icon">
              <p>All</p>
            </section>
          </a>
    
          <% genres.forEach((genre)=> {%>
            <section class="genre-bubble <%= genre.name == locals.currentGenre ? 'active' : '' %>">
              <a href="/games?genre=<%= genre.name %>&platform=<%= locals.currentPlatform || 'all' %>&sort=<%= locals.sort || 'none' %>" class="genre-anchor">
                <section>
                  <img src="<%= genre.icon_url %>" alt="<%= genre.name %> genre icon">
                  <p><%= genre.name %></p>
                  
                </section>
              </a>
              
              <button type="button" title="Options" class="options-button" onClick="toggleOptionsSection(<%= genre.id %>)"><img src="/assets/images/icons/ellipsis-vertical.svg" alt="options"></button>
            </section>
            <section class="options hidden" id="genre-<%= genre.id %>">
              <a href="/genres/update/<%= genre.id %>">Update</a>
              <button type="button" onClick="showDeleteModal('genre', <%= genre.id %>, '/genres/delete', 'reload')">
                Delete
              </button>
            </section>
          <%})%>

          <section class="add-genre">
            <a href="/genres/add">
              Add Genre
            </a>
          </section>
        </section>

        <section class="platform-selector">
          <h3>Platforms</h3>
          <a href="/games?genre=<%= locals.currentGenre || 'all' %>&platform=all&sort=<%= locals.sort || 'none' %>">
            <section class="platform-bubble all <%= locals.currentPlatform == 'all' ? 'active' : '' %>">
              <img src="/assets/images/icons/all.svg" alt="All platforms icon">
              <p>All</p>
            </section>

            <% platforms.forEach((platform)=> {%>
              <section class="platform-bubble <%= platform.name == locals.currentPlatform ? 'active' : '' %>">
                <a href="/games?genre=<%= locals.currentGenre || 'all' %>&platform=<%= platform.name %>&sort=<%= locals.sort || 'none' %>" class="platform-anchor">
                  <section>
                    <img src="/assets/images/platforms/<%= getGeneralPlatformLogo(platform.logo_image_url) %>-light.png" alt="<%= platform.name %> platform icon">
                    <p><%= platform.name %></p>
                    
                  </section>
                </a>
              </section>
            <%})%>
          </a>
        </section>
        <section class="sidebar-toggle" onClick="toggleSidebar()">
          <img src="/assets/images/icons/bars.svg" alt="sidebar toggle" title="Expand Sidebar" class="expand">
          <img src="/assets/images/icons/x-mark.svg" alt="sidebar toggle" title="Collapse Sidebar" class="collapse">   
        </section>
      </aside>

      <main>
        <%- include("../partials/searchbar", {entityType: 'Games' }) %>
        <%- include("../partials/sort-by-dropdown", {isGames: true, sort}) %>

        <% if(games.length) { %>
          <section class="card-wrapper">
            <% games.forEach((game)=> {%> <%- include("./game-card", {game}) %> <%})%>
          </section>
        <% } else { %>
          <p>No games found</p>
        <% } %>

        <%- include("../partials/page-selector", { ...page}) %>
      </main>
    </section>

    <%- include("../partials/delete-modal") %>
  </body>
</html>
