<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Games</title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "games", addButtonText:"Add Game" }) %>

    <section class="genre-selector">
      <a href="/games">
        <section class="genre-bubble genre-bubble <%= !locals.currentGenre ? 'active' : '' %>">
          <img src="/assets/images/icons/all.svg" alt="All genres icon">
          <p>All</p>
        </section>
      </a>

      <% genres.forEach((genre)=> {%>
      <a href="/games/genre/<%= genre.name %>">
        <section class="genre-bubble <%= genre.name == locals.currentGenre ? 'active' : '' %>">
          <img src="<%= genre.icon_url %>" alt="<%= genre.name %> genre icon">
          <p><%= genre.name %></p>
        </section>
      </a>
      <%})%>
    </section>

    <% if(games.length) { %>
      <section class="card-wrapper">
        <% games.forEach((game)=> {%> <%- include("./game-card", {game}) %> <%})%>
      </section>
    <% } else { %>
      <p>No games found</p>
    <% } %>

    <%- include("../partials/page-selector", { ...page}) %>
    
  </body>
</html>
